:root{
  --form-height:100em;
  --form-width: 66em;
  /*  Sea Green */
  --left-color: #9fdeaf;
  /*  Light Blue  */
  --right-color: grey;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
}


/* 
----------------------
      Overlay
----------------------
*/
.overlay{
  width: 33em; 
  height: 100%;
  position:absolute;
  z-index: 100;
  background-image: linear-gradient(to right, var(--left-color), var(--right-color));
  color: white;
}

.overlay .sign-in, .overlay .sign-up{
  /*  Width is 385px - padding  */
  --padding: 10px;
  width: calc(385px - var(--padding) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--padding);
  text-align: center;
}

.overlay h1{
  margin: 0px 5px;
  font-size: 2.1rem;
}

.overlay p{
  margin: 20px 0px 30px;
  font-weight: 200;
}
/* 
------------------------
      Buttons
------------------------
*/
.control-button{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border-radius: 20px;
  color: white;
}

.control-button{
  border: none;
  margin-top: 15px;
}

.control-button:focus{
  outline:none;
}

.control-button.up{
  background-color: var(--left-color);
}

.control-button.in{
  background-color: var(--right-color);
}

/* 
--------------------------
      Forms
--------------------------
*/

 .sign-in, .sign-up{
  --padding: 50px;
  position:absolute;
    /*  Width is 100% - 385px - padding  */
  width: calc(var(--form-width) - 385px - var(--padding) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px var(--padding);
  text-align: center;
}
.form{
  display: block;
}

/* Sign in is initially not displayed */
.sign-in{
  display: block;
}

.sign-in{
  left:0;
}

.sign-up{
  right: 0;
}

.sign-in{
  color: var(--right-color);
  margin: 0;
}
.sign-up{
  color: var(--left-color);
  margin: 0;
}

.input {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 1.5em;
  font-size: 1.5em;
  text-transform: lowercase;
  background: var(--left-color);
  border-radius: 5px;
  color: black;
}
